.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    @media screen and (max-width: 768px){
      display: flex;
      justify-content: flex-start;
      margin-top: 5em;
    }
    .landing {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-image: url("../../../public/landing.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
      margin: 10px;
      margin-top: 30px;
      width: 50em;
      height: 30em;
      color: rgba(255, 255, 255, 0.3);
      gap: 10px;
      padding: 2em;
      transition: 500ms;
      
      &:hover {
        transform: scale(1.05);
        transition: 1000ms;
        color: rgba(244, 244, 244, 1);
        box-shadow: 0 0 0.8em 0.20em rgba(255, 255, 255, 0.571),
          0 0 100em 0.8em rgba(0, 0, 0, 0.668),
          inset 0 0 0.02em 0.02em rgba(255, 255, 255, 0.64);
        text-shadow: 10px 10px 20px rgb(255, 255, 255);
      }
      @media screen and (max-width: 768px) {
        width: 20em;
        height: 30em;
        padding: 2;
        background-image: url('../../../public/landing-responsive.jpg');
        &:hover {
          text-shadow: 10px 3px 10px rgb(0, 0, 0);
        }
        .landing-title{
          font-size: 1em;
        }
      }

      .home {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 7.2em;
        height: 2.5em;
        background-color: #000000;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        border: none;
        padding: 12px;
        gap: 12px;
        border-radius: 6px;
        cursor: pointer;
        text-decoration: none;
        
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          left: -4px;
          top: -1px;
          margin: auto;
          width: 7.8em;
          height: 3em;
          border-radius: 10px;
          background: linear-gradient(-45deg, rgb(0, 98, 255) 0%, rgb(255, 0, 132) 100% );
          z-index: -10;
          pointer-events: none;
          transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        
        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          inset: 0;
          background: linear-gradient(-45deg, rgb(0, 98, 255) 0%, rgb(255, 0, 132) 100% );
          transform: translate3d(0, 0, 0) scale(0.95);
          filter: blur(20px);
        }
        
        &:hover::after {
          filter: blur(30px);
        }
        
        &:hover::before {
          transform: rotate(-180deg);
        }
        
        &:active::before {
          scale: 1;
        }
        @media screen and (max-width: 768px){
          width: 8em;
          height: 1em;
          font-size: 10px;
          margin-bottom: .5em;
          &::before {
            width: 9em;
            height: 3em;
          }
        }
      }
      
    }
}
