.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(180, 180, 180);
    box-shadow: 0 2px 12px rgba(0, 0, 0, .7);
    z-index: 1000;
    top: 0;
    .NavbarIcon {
        width: 2em;
        height: 2em;
        cursor: pointer;
        color: black;
        &:hover {
          transform: scale(1.2); 
          transition: all 0.3s;
        }
      }
      
}